name: MSBuild
run-name: libpq CI - ${{ github.event.head_commit.message }}

on:
  workflow_dispatch:  # Allows manual runs from GitHub UI
  push:
    branches: [ "main" ]
    tags:
      - 'REL-*'
  pull_request:
    branches: [ "main" ]

env:
  # Path to the solution file relative to the root of the project.
  SOLUTION_FILE_PATH: .

  # Configuration type to build.
  # You can convert this to a build matrix if you need coverage of multiple configuration types.
  # https://docs.github.com/actions/learn-github-actions/managing-complex-workflows#using-a-build-matrix
  BUILD_CONFIGURATION: Release

  # Workflow versions. Increment when you make changes to build steps.
  WORKFLOW_VERSION_POSTGRESQL: '1'

  # Software versions
  POSTGRESQL_SOURCE_TAG: 'REL_18_STABLE'
  OPENSSL_VERSION: '3_5_5'
  PKGCONFIGLITE_VERSION: '0.28-1'
  WINFLEXBISON_VERSION: '2.5.24'

permissions:
  contents: read

jobs:
  build_libpq:
    runs-on: windows-latest

    steps:
    - name: Cache Postgres build output
      uses: actions/cache@v4
      id: cachePostgres
      with:
        path: |
          d:\postgresql
          d:\postgresql86
        key: postgresql-${{env.POSTGRESQL_SOURCE_TAG}}_openssl-${{env.OPENSSL_VERSION}}_pkgconfiglite-${{env.PKGCONFIGLITE_VERSION}}_winflexbison-${{env.WINFLEXBISON_VERSION}}_workflow-${{env.WORKFLOW_VERSION_POSTGRESQL}}

    - name: Cache Postgres source
      if: ${{steps.cachePostgres.outputs.cache-hit != 'true'}}
      uses: actions/cache@v4
      id: cachePostgresSource
      with:
        path: postgres
        key: postgres-source-${{env.POSTGRESQL_SOURCE_TAG}}

    - name: Get Postgres source
      uses: actions/checkout@v4
      if: ${{steps.cachePostgresSource.outputs.cache-hit != 'true' && steps.cachePostgres.outputs.cache-hit != 'true'}}
      with:
        repository: "postgres/postgres.git"
        ref: ${{env.POSTGRESQL_SOURCE_TAG}}
        path: postgres

    - name: Install meson and ninja
      if: ${{steps.cachePostgres.outputs.cache-hit != 'true'}}
      run: |
        python -m pip install meson
        python -m pip install ninja

    - name: Cache pkgconfiglite
      if: ${{steps.cachePostgres.outputs.cache-hit != 'true'}}
      uses: actions/cache@v4
      id: cachePkgConfigLiteZip
      with:
        path: C:\OTHERBIN\pkgconfiglite
        key: pkg-config-lite-${{env.PKGCONFIGLITE_VERSION}}-win32
      env:
        SEGMENT_DOWNLOAD_TIMEOUT_MINS: 1

    - name: Cache Win32 OpenSSL
      if: ${{steps.cachePostgres.outputs.cache-hit != 'true'}}
      uses: actions/cache@v4
      id: cacheWin32OpenSSL
      with:
        path: C:\OTHERBIN\openssl32
        key: Win32OpenSSL-${{env.OPENSSL_VERSION}}

    - name: Cache Win64 OpenSSL
      if: ${{steps.cachePostgres.outputs.cache-hit != 'true'}}
      uses: actions/cache@v4
      id: cacheWin64OpenSSL
      with:
        path: C:\OTHERBIN\openssl64
        key: Win64OpenSSL-${{env.OPENSSL_VERSION}}

    - name: Cache winflexbison
      if: ${{steps.cachePostgres.outputs.cache-hit != 'true'}}
      uses: actions/cache@v4
      id: cacheWinFlexBisonZip
      with:
        path: C:\OTHERBIN\winflexbison
        key: winflexbison-${{env.WINFLEXBISON_VERSION}}
      env:
        SEGMENT_DOWNLOAD_TIMEOUT_MINS: 1

    - name: Download Win32 OpenSSL
      if: ${{steps.cacheWin32OpenSSL.outputs.cache-hit != 'true' && steps.cachePostgres.outputs.cache-hit != 'true'}}
      uses: suisei-cn/actions-download-file@v1.6.0
      id: downloadWin32OpenSSL
      with:
        retry-times: 5
        url: https://slproweb.com/download/Win32OpenSSL-${{env.OPENSSL_VERSION}}.exe
        filename: Win32OpenSSL.exe

    - name: Download Win64 OpenSSL
      if: ${{steps.cacheWin64OpenSSL.outputs.cache-hit != 'true' && steps.cachePostgres.outputs.cache-hit != 'true'}}
      uses: suisei-cn/actions-download-file@v1.6.0
      id: downloadWin64OpenSSL
      with:
        retry-times: 5
        url: https://slproweb.com/download/Win64OpenSSL-${{env.OPENSSL_VERSION}}.exe
        filename: Win64OpenSSL.exe

    - name: Download pkgconfiglite
      if: ${{steps.cachePkgConfigLiteZip.outputs.cache-hit != 'true' && steps.cachePostgres.outputs.cache-hit != 'true'}}
      uses: suisei-cn/actions-download-file@v1.6.0
      id: downloadPkgConfigLiteZip
      with:
        retry-times: 5
        url: http://downloads.sourceforge.net/project/pkgconfiglite/${{env.PKGCONFIGLITE_VERSION}}/pkg-config-lite-${{env.PKGCONFIGLITE_VERSION}}_bin-win32.zip
        filename: pkg-config-lite_bin-win32.zip

    - name: Download winflexbison
      if: ${{steps.cacheWinFlexBisonZip.outputs.cache-hit != 'true' && steps.cachePostgres.outputs.cache-hit != 'true'}}
      uses: suisei-cn/actions-download-file@v1.6.0
      id: downloadWinFlexBisonZip
      with:
        retry-times: 5
        url: https://sourceforge.net/projects/winflexbison/files/win_flex_bison-${{env.WINFLEXBISON_VERSION}}.zip
        filename: win_flex_bison.zip

    - name: Extract pkgconfiglite
      if: ${{steps.cachePkgConfigLiteZip.outputs.cache-hit != 'true' && steps.cachePostgres.outputs.cache-hit != 'true'}}
      shell: cmd
      run: |
        mkdir "C:\OTHERBIN\pkgconfiglite"
        7z x pkg-config-lite_bin-win32.zip -o"C:\OTHERBIN\pkgconfiglite"

    - name: Add pkgconfiglite to PATH
      if: ${{steps.cachePostgres.outputs.cache-hit != 'true'}}
      shell: cmd
      run: |
        printf "C:\\OTHERBIN\\pkgconfiglite\\pkg-config-lite-%PKGCONFIGLITE_VERSION%\\bin" >> %GITHUB_PATH%

    - name: Install Win32 OpenSSL
      if: ${{steps.cacheWin32OpenSSL.outputs.cache-hit != 'true' && steps.cachePostgres.outputs.cache-hit != 'true'}}
      shell: cmd
      run: ${{github.workspace}}\Win32OpenSSL.exe /sp /silent /dir=c:\OTHERBIN\openssl32

    - name: Install Win64 OpenSSL
      if: ${{steps.cacheWin64OpenSSL.outputs.cache-hit != 'true' && steps.cachePostgres.outputs.cache-hit != 'true'}}
      shell: cmd
      run: ${{github.workspace}}\Win64OpenSSL.exe /sp /silent /dir=c:\OTHERBIN\openssl64

    - name: Extract winflexbison
      if: ${{steps.cacheWinFlexBisonZip.outputs.cache-hit != 'true' && steps.cachePostgres.outputs.cache-hit != 'true'}}
      shell: cmd
      run: |
        mkdir "C:\OTHERBIN\winflexbison"
        7z x win_flex_bison.zip -o"C:\OTHERBIN\winflexbison"

    - name: Add winflexbison to PATH
      if: ${{steps.cachePostgres.outputs.cache-hit != 'true'}}
      shell: cmd
      run: |
        printf "C:\OTHERBIN\\winflexbison" >> %GITHUB_PATH%

    - name: Setup MSVC x86
      if: ${{steps.cachePostgres.outputs.cache-hit != 'true'}}
      uses: TheMrMilchmann/setup-msvc-dev@v3
      with:
        arch: x86

    - name: Build PostgreSQL x86 (libpq)
      if: ${{steps.cachePostgres.outputs.cache-hit != 'true'}}
      working-directory: postgres
      run: |
        meson setup buildx86 -Dssl=openssl -Dextra_lib_dirs=c:\OTHERBIN\openssl32\lib\VC\x86\MT -Dextra_include_dirs=c:\OTHERBIN\openssl32\include --prefix=d:\postgresql86
        cd buildx86
        ninja -v
        ninja -v install
        cp c:\OTHERBIN\openssl32\*.dll d:\postgresql86\bin

    - name: Setup MSVC x64
      if: ${{steps.cachePostgres.outputs.cache-hit != 'true'}}
      uses: TheMrMilchmann/setup-msvc-dev@v3
      with:
        arch: x64

    - name: Build PostgreSQL x64 (libpq)
      if: ${{steps.cachePostgres.outputs.cache-hit != 'true'}}
      working-directory: postgres
      run: |
        meson setup build -Dssl=openssl -Dextra_lib_dirs=c:\OTHERBIN\openssl64\lib\VC\x64\MT -Dextra_include_dirs=c:\OTHERBIN\openssl64\include --prefix=d:\postgresql
        cd build
        ninja
        ninja install
        cp c:\OTHERBIN\openssl64\*.dll d:\postgresql\bin

    - name: Upload libpq x86
      uses: actions/upload-artifact@v4
      with:
        name: libpq-x86
        path: |
          d:\postgresql86\bin\libpq.dll
          d:\postgresql86\bin\*.dll
          d:\postgresql86\lib\libpq.lib
          d:\postgresql86\include\libpq*.h
          d:\postgresql86\include\postgres_ext.h
          d:\postgresql86\include\pg_config*.h
        retention-days: 5
        if-no-files-found: error

    - name: Upload libpq x64
      uses: actions/upload-artifact@v4
      with:
        name: libpq-x64
        path: |
          d:\postgresql\bin\libpq.dll
          d:\postgresql\bin\*.dll
          d:\postgresql\lib\libpq.lib
          d:\postgresql\include\libpq*.h
          d:\postgresql\include\postgres_ext.h
          d:\postgresql\include\pg_config*.h
        retention-days: 5
        if-no-files-found: error

    - name: Create Release
      if: startsWith(github.ref, 'refs/tags/REL-')
      uses: ncipollo/release-action@v1.14.0
      with:
        makeLatest: true
        draft: false
        prerelease: false
        token: ${{secrets.RELEASE_TOKEN}}
        artifacts: "d:/postgresql/bin/libpq.dll,d:/postgresql/lib/libpq.lib,d:/postgresql86/bin/libpq.dll,d:/postgresql86/lib/libpq.lib"
